<template>
  <div class="br container">
    <div class="logo-gray">
      <img src="../assets/logo-gray.png" alt="">
    </div>
    <div class="br-text">
      We start<br>in 5 minutes.<br>Be ready.
    </div>
    <div class="bottom-stripe"></div>
  </div>
</template>

<script>
export default {
  name: 'BeReady',
  props: {
    msg: String
  }
}
</script>

<style lang="scss">
.br {
  width: 100vw;
  height: 100vh;
  background: url(../assets/bg1.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &-text {
    font: 96px/136px carbon;
    text-align: center;
    color: #FFF;
    max-width: 70%;
  }
  .logo-gray {
    width: 60%;
    margin-top: 3%;
    img {
      width: 100%;
    }
  }
  .bottom-stripe {
    min-height: 15%;
    background: #FFF;
    width: 100%;
  }
}
</style>
