<template>
  <div class="bc container">
    <div class="logo-color">
      <img src="../assets/logo-color.png" alt="">
    </div>
    <div class="bc-title">{{data.event.name}}</div>
    <div class="center-block">
      <div
      class="center-block-sq"
      :style="`background-image: url(${data.srvUri}${data.eightBucks.battle.blueDancer.img});${data.eightBucks.battle.result===data.eightBucks.battle.blueDancer.id?'border-width:20px;margin:-10px -15px -10px 10px':''}`"
      >
        {{data.eightBucks.battle.blueDancer.username}}
      </div>
      <div class="center-block-vs">
        <div class="center-block-vs-deuce">{{data.eightBucks.battle.result===-1?'- ничья -':''}}</div>
      </div>
      <div
        class="center-block-sq red"
        :style="`background-image: url(${data.srvUri}${data.eightBucks.battle.redDancer.img});${data.eightBucks.battle.result===data.eightBucks.battle.redDancer.id?'border-width:20px;margin:-10px -15px -10px 10px':''}`"
        >
      {{data.eightBucks.battle.redDancer.username}}
    </div>
    </div>
    <div class="circles-block">
        <div v-for="item in data.eightBucks.dancers" :key="item.dancer.id" :class="{'circles-block-item':true,'dead':item.life===0}">
          <img :src="`${data.srvUri}${item.dancer.img}`" alt="">
        </div>
    </div>
    <div class="digits-block">
        <div v-for="(item, index) in data.eightBucks.dancers" :key="index" class="digits-block-item">
          {{item.life}}
        </div>
    </div>
    <div class="bottom-block">
      <div
        v-for="judge in data.event.judges"
        :key="judge.id"
        class="bottom-block-judge-item"
      >
        <div class="bottom-block-judge">
          <div :class="{'bottom-block-judge-plate':true,'red':data.eightBucks.battle.result>0&&isVotedFor(judge.id,data.eightBucks.battle.redDancer.id),'blue':data.eightBucks.battle.result>0&&isVotedFor(judge.id,data.eightBucks.battle.blueDancer.id)}"></div>
          <div class="bottom-block-judge-text">{{judge.username}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import data from '../../eightBucks_phone.json';

export default {
  name: 'Bucks',
  props: {
    msg: String
  },
  computed: {
    data() {
      // return data;
      return this.$store.state.data;
    },
  },
  methods: {
    isVotedFor(judgeId, dancerId) {
      return this.data.eightBucks.battle.votes.filter((vote) => vote.dancerId === dancerId && vote.judgeId === judgeId).length;
    }
  },
}
</script>

<style lang="scss" scoped>
.bc {
  width: 100vw;
  height: 100vh;
  background: url(../assets/bg2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-title {
    font: 3vw/2.5vw carbon;
    text-align: center;
    color: #FFF;
    max-width: 70%;
    margin: 1vw 0 0;
  }
  .logo-color {
    width: 60%;
    img {
      width: 100%;
    }
  }
  .center-block {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: -7vw;
    justify-content: space-between;
    &-sq {
      width: 24vw;
      height: 24vw;
      border: blue 10px solid;
      border-style: ridge;
      border-radius: 2px;
      margin: 6vw 3vw -2vw;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      font: 2.5vw/4vw carbon;
      text-align: center;
      color: #FFF;
      background-size: 24vw;
      background-position: center;
      &.red {
        border-color: #F00;
      }
      &.winner {
        width: 33vw;
        height: 33vw;
      }
    }
    &-vs {
      width: 30vw;
      height: 16vw;
      background: url(../assets/vs1.png) top center no-repeat;
      background-size: 100%;
      margin: 10vw 0 0;
      z-index: 100;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      &-deuce {
        color: #FFF;
        font-size: 3vw;
      }
    }
  }
  .circles-block {
    display: flex;
    margin: 3vw auto 0;
    &-item {
      width: 7vw;
      height: 7vw;
      border-radius: 50%;
      background: #FFF;
      margin: .5vw;
      overflow: hidden;
      &.dead {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
      img {
        height: 100%;
      }
    }
  }
  .digits-block {
    display: flex;
    &-item {
      margin: 0 3.15vw;
      font-size: 2vw;
      color: #FFF;
    }
  }
  .bottom-block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    &-judge {
      &-item {
        width: 20vw;
        margin: 0 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-plate {
        width: 12vw;
        height: 5vw;
        background: rgba(255,255,255,.5);
        &.red {
          background: red;
        }
        &.blue {
          background: blue;
        }
      }
      &-text {
        font: 2vw/2.2vw carbon;
        text-align: center;
        color: #FFF;
      }
    }
  }
}
</style>
