<template>
  <div class="hp container">
    <div class="logo-gray">
      <img src="../assets/logo-gray.png" alt="">
    </div>
    <div class="hp-title">{{data.event.name}}</div>
    <div class="block-sq">
      {{seconds}}
      <span>second</span>
    </div>
    <div class="hp-dancers">
      <div
        v-for="(item, index) in dancers"
        :key="index"
        :class="{'hp-dancers-item':true,'active':item.isCurrent===true}"
        >
        {{item.dancer.username}}
      </div>
    </div>
  </div>
</template>
<script>
// import data from '../../hatplayer.json';

export default {
  name: 'Hatplayer',
  data() {
    return {
      seconds: 45,
      countdown: setInterval(() => this.counter(), 1000)
    };
  },
  computed: {
    data() {
      return this.$store.state.data;
    },
    dancers() {
      const dObj = this.data.selection;
      return dObj.previous.concat(dObj.current, dObj.next);
    },
  },
  methods: {
    counter() {
      if (this.seconds === 1) clearInterval(this.countdown);
      this.seconds--;
    },
  },
  watch: {
    data: {
      handler() {
        this.seconds = 45;
        clearInterval(this.countdown);
        this.countdown = setInterval(() => this.counter(), 1000);
      },
      deep: true,
    }
  }
}
</script>

<style lang="scss">
.hp {
  width: 100vw;
  height: 100vh;
  background: url(../assets/bg2.jpg);
  background-size: cover;
  &-title {
    font: 4vw/4.5vw carbon;
    color: #FFF;
    max-width: 70%;
    margin: 1vw 3vw;
  }
  .block-sq {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 3vw;
    top: 3vw;
    width: 22vw;
    height: 22vw;
    border: #F55 15px solid;
    border-style: ridge;
    border-radius: 2px;
    font: 10.5vw/10vw carbon;
    text-align: center;
    color: #FFF;
    span {
      display: block;
      font: 3.5vw/3.8vw carbon;
    }
  }
  &-dancers {
    margin-top: 3.5vw;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-item {
      font: 5.5vw/5.7vw carbon;
      color: #FFF;
      &.active {
        font: 12vw/13vw carbon;
        margin-right: -22vw;
      }
    }
  }
}
.logo-gray {
  width: 60vw;
  margin-left: 3vw;
  img {
    width: 100%;
  }
}

</style>
