<template>
  <div v-if="data.event" class="jg container">
    <div class="logo-color">
      <img src="../assets/logo-color.png" alt="">
    </div>
    <div class="jg-title">{{data.event.name}}</div>
    <div class="center-block">
      <div
        class="center-block-sq"
        :style="`background-image: url(${data.srvUri}${data.battle.blueDancer.img});${data.battle.result===data.battle.blueDancer.id?'border-width:30px;margin:-15px -20px -15px 15px':''}`"
      >
        <div class="center-block-sq-name">
          {{data.battle.blueDancer.username}}
        </div>
      </div>
      <div class="center-block-vs">
        <div class="center-block-vs-deuce">{{data.battle.result===-1?'ничья':''}}</div>
      </div>
      <div
        class="center-block-sq red"
        :style="`background-image: url(${data.srvUri}${data.battle.redDancer.img});${data.battle.result===data.battle.redDancer.id?'border-width:30px;margin:-15px -20px -15px 15px':''}`"
      >
        <div class="center-block-sq-name">
          {{data.battle.redDancer.username}}
        </div>
      </div>
    </div>
    <div class="bottom-block">
      <div
        v-for="judge in data.event.judges"
        :key="judge.id"
        class="bottom-block-judge-item"
      >
        <div class="bottom-block-judge">
          <div :class="{'bottom-block-judge-plate':true,'red':data.battle.result>0&&isVotedFor(judge.id,data.battle.redDancer.id),'blue':data.battle.result>0&&isVotedFor(judge.id,data.battle.blueDancer.id)}"></div>
          <div class="bottom-block-judge-text">{{judge.username}}</div>
        </div>
        <div class="bottom-block-circle">
          <img 
            :src="`${data.srvUri}${judge.img}`"
            alt=""
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import data from '../../battle_desktop.json';
export default {
  name: 'Judgement',
  computed: {
    data() {
      // return data;
      return this.$store.state.data;
    },
  },
  methods: {
    isVotedFor(judgeId, dancerId) {
      return this.data.battle.votes.filter((vote) => vote.dancerId === dancerId && vote.judgeId === judgeId).length;
    }
  }
}
</script>

<style lang="scss" scoped>
.jg {
  width: 100vw;
  height: 100vh;
  background: url(../assets/bg2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &-title {
    font: 4vw/4.5vw carbon;
    text-align: center;
    color: #FFF;
    max-width: 30%;
  }
  .logo-color {
    width: 60%;
    img {
      width: 100%;
    }
  }
  .center-block {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: -7vw;
    &-sq {
      width: 29vw;
      height: 29vw;
      border: blue 15px solid;
      border-style: ridge;
      border-radius: 2px;
      margin-left: 3vw;
      z-index: 10;
      background-size: 29vw;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      &-name {
        font: 2.5vw/4vw carbon;
        color: #FFF;
        padding: .2vw 1vw;
        // width: 60%;
        // background: blue;
        // border-radius: 0 30px 0 0;
        text-align: center;
      }
      &.red {
        border-color: red;
        margin-right: 3vw;
      }
    }
    &-vs {
      width: 37vw;
      height: 16vw;
      background: url(../assets/vs1.png) top center no-repeat;
      background-size: 100%;
      margin: 10vw -5vw 0 -3vw;
      z-index: 100;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      &-deuce {
        color: #FFF;
        font-size: 3vw;
      }
    }
  }
  .bottom-block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    &-judge {
      &-item {
        width: 20vw;
        margin: 0 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-plate {
        width: 10vw;
        height: 5vw;
        background: rgba(255,255,255,.5);
        &.red {
          background: red;
        }
        &.blue {
          background: blue;
        }
      }
      &-text {
        font: 2vw/2.2vw carbon;
        text-align: center;
        color: #FFF;
      }
    }
    &-circle {
      width: 6vw;
      height: 6vw;
      border-radius: 50%;
      border: #FFF 3px solid;
      margin: -1.5vw 1vw 1.5vw;
      overflow: hidden;
      img {
        height: 100%;
      }
    }
  }
}
</style>
