<template>
  <div v-if="data.event" class="jg container">
    <div class="logo-color">
      <img src="../assets/logo-color.png" alt="">
    </div>
    <div class="jg-title">{{data.event.name}}</div>
    <div class="center-block">
      <div
        :class="{'center-block-sq':true,'winnner':data.battle.result===data.battle.blueDancer.id}"
        :style="`background-image: url(${data.srvUri}${data.battle.blueDancer.img})`"
      >
      </div>
      <div class="center-block-vs">
        <div class="center-block-vs-deuce">{{data.battle.result===-1?'ничья':''}}</div>
      </div>
      <div
        :class="{'center-block-sq':true,'red':true,'winnner':data.battle.result===data.battle.redDancer.id}"
        :style="`background-image: url(${data.srvUri}${data.battle.redDancer.img})`"
      >
      </div>
    </div>
    <div class="votes">
      <div class="votes-item">
        {{data.battle.blueDancer.username}}
        <br>
        <span>{{data.battle.votes.blueVotes}}</span>
      </div>
      <div class="votes-item"></div>
      <div class="votes-item">
        {{data.battle.redDancer.username}}
        <br>
        <span>{{data.battle.votes.redVotes}}</span>
      </div>
    </div>
  </div>
</template>

<script>
// import data from '../../battle_desktop.json';
export default {
  name: 'Judgement',
  computed: {
    data() {
      // return data;
      return this.$store.state.data;
    },
  },
  methods: {
    isVotedFor(judgeId, dancerId) {
      return this.data.battle.votes.filter((vote) => vote.dancerId === dancerId && vote.judgeId === judgeId).length;
    }
  }
}
</script>

<style lang="scss" scoped>
.jg {
  width: 100vw;
  height: 100vh;
  background: url(../assets/bg2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;

  &-title {
    font: 4vw/4.5vw carbon;
    text-align: center;
    color: #FFF;
    max-width: 70%;
    margin: 2vw;
  }
  .logo-color {
    width: 60%;
    img {
      width: 100%;
    }
  }
  .center-block {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 1vw;
    &-sq {
      width: 27vw;
      height: 27vw;
      border: blue 15px solid;
      border-style: ridge;
      border-radius: 2px;
      margin-left: 4vw;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      background-size: 30vw;
      background-position: center;
      &.red {
        border-color: red;
        margin-right: 3vw;
      }
      &.winner {
        width: 33vw;
        height: 33vw;
      }
    }
    &-vs {
      width: 37vw;
      height: 16vw;
      background: url(../assets/vs1.png) top center no-repeat;
      background-size: 100%;
      margin: 10vw -5vw 0 -3vw;
      z-index: 100;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      &-deuce {
        color: #FFF;
        font-size: 3vw;
      }
    }
  }
  .bottom-block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    &-judge {
      &-item {
        width: 30vw;
        margin: 0 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-plate {
        width: 20vw;
        height: 5vw;
        background: rgba(255,255,255,.5);
        &.red {
          background: red;
        }
        &.blue {
          background: red;
        }
      }
      &-text {
        font: 2.5vw/3vw carbon;
        text-align: center;
        color: #FFF;
      }
    }
    &-circle {
      width: 6vw;
      height: 6vw;
      border-radius: 50%;
      border: #FFF 3px solid;
      margin: -1.5vw 1vw 1.5vw;
      overflow: hidden;
      img {
        height: 100%;
      }
    }
  }
  .votes {
    display: flex;
    justify-content: space-between;
    &-item {
      width: 31vw;
      font: 2.5vw/4vw carbon;
      text-align: center;
      color: #FFF;span {
        font-size: 4vw;
      }
    }
  }
}
</style>
