<template>
  <div id="app">
    <transition>
      <component :is="currentView"></component>
    </transition>
  </div>
</template>

<script>
import BeReady from './components/BeReady.vue'
import Judgement from './components/Judgement.vue'
import Hatplayer from './components/Hatplayer.vue'
import Bucks from './components/Bucks.vue'
import Votes from './components/Votes.vue'

export default {
  name: 'App',
  components: {
    BeReady,
    Judgement,
    Hatplayer,
    Bucks,
    Votes,
  },
  computed: {
    data() {
      return this.$store.state.data;
    },
    currentView() {
      return this.$store.getters.currentView;
    },
  },
  created() {
    this.$store.dispatch('socketConnect');
  },
}
</script>

<style>
@font-face {
  font-family: carbon;
  src: url(assets/carbon.otf);
  font-weight: 600;
}
body {
  margin: 0;
  font-family: carbon;
}
</style>
